# BADS 7201 Programming for Machine Learning

## Data Types

### Numberical Data Type

In [1]:
1 + 1

2

In [2]:
2 * 3

6

In [3]:
1 / 2

0.5

In [4]:
2 ** 8

256

In [5]:
7 % 2

1

In [6]:
(4 + 5) * 10

90

## Variables
- Variable names can contain only letters, numbers, and underscores
- They can start with a letter or an underscore, but not with a number
- Spaces are not allowed in variable names
- Avoid using Python keywords and function names as variable names
- Variable names should be short but descriptive
- Be careful when using the lowercase letter l and the uppercase letter O because they could be confused with the numbers 1 and 0

In [7]:
x = 2
y = 10

In [8]:
z = x + y

In [9]:
z

12

## String

In [10]:
"This is a string."

'This is a string.'

In [11]:
'This is also a string.'

'This is also a string.'

In [12]:
'I told my friend, "Python is my favorite language!"'
"The language 'Python' is named after Monty Python, not the snake."
"One of Python's strengths is its diverse and supportive community."

"One of Python's strengths is its diverse and supportive community."

In [13]:
sentence = 'This is a string'

In [14]:
sentence.title()

'This Is A String'

In [15]:
sentence.upper()

'THIS IS A STRING'

In [16]:
sentence.lower()

'this is a string'

In [17]:
first_name = 'Pramote'
last_name = 'Kuacharoen'
full_name = f"{first_name} {last_name}"
print(full_name)

Pramote Kuacharoen

In [18]:
str_with_spaces = ' This string contains spaces. '

In [19]:
str_with_spaces.rstrip()

' This string contains spaces.'

In [20]:
str_with_spaces.lstrip()

'This string contains spaces. '

In [21]:
str_with_spaces.strip()

'This string contains spaces.'

In [22]:
tweet = 'I am learning. #machine learning'

In [23]:
tweet.split()

['I', 'am', 'learning.', '#machine', 'learning']

In [24]:
tweet.split('#')[1]

'machine learning'

## List
- A list is a collection of items in a particular order
- Lists are ordered collections, so you can access any element in a list by telling Python the position, or index, of the item desired
- Python considers the first item in a list to be at position 0, not position 1

In [25]:
[1, 2, 3]

[1, 2, 3]

In [26]:
['abc', 1, [10, 20]]

['abc', 1, [10, 20]]

In [27]:
alist = ['a', 'b', 'c']

In [28]:
alist[0]

'a'

In [29]:
alist[-1]

'c'

In [30]:
alist.append('d')

In [31]:
alist

['a', 'b', 'c', 'd']

In [32]:
alist.insert(0, '-')

In [33]:
alist

['-', 'a', 'b', 'c', 'd']

In [34]:
alist[0] = '0'

In [35]:
alist

['0', 'a', 'b', 'c', 'd']

In [36]:
del alist[0]

In [37]:
alist

['a', 'b', 'c', 'd']

In [38]:
'a' in alist

True

In [39]:
cars = ['bmw', 'toyota', 'mercedes benz']
cars.sort()
print(cars)

['bmw', 'mercedes benz', 'toyota']

In [40]:
cars = ['bmw', 'toyota', 'mercedes benz']
print('Original: ', cars)
print('Sorted List: ', sorted(cars))
print('After Calling sorted: ', cars)

Original:  ['bmw', 'toyota', 'mercedes benz']
Sorted List:  ['bmw', 'mercedes benz', 'toyota']
After Calling sorted:  ['bmw', 'toyota', 'mercedes benz']

## Dictionaries

In [41]:
coin = {'BTC': 10, 'ETH': 34}

In [42]:
coin['BTC']

10

## Tuples
Tuples cannot be modified.

In [43]:
t = (10, 20, 30)

## Sets

In [44]:
{'a', 'b', 'c'}

{'a', 'b', 'c'}

In [45]:
{'a', 'a', 'b', 'c', 'c', 'c'}

{'a', 'b', 'c'}

## Comparison Operators

In [46]:
1 < 2

True

In [47]:
1 > 2

False

In [48]:
1 <= 1

True

In [49]:
1 >= 4

False

In [50]:
'a' == 'a'

True

In [51]:
'hello' != 'hi'

True

## Logical Operators

In [52]:
(1 > 2) and (3 == 3)

False

In [53]:
(1 > 2) or (3 == 3)

True

## Conditional statements: if, elif, else

In [54]:
salary = 120000
if salary > 100000:
    print('High Paying Job')

High Paying Job

In [55]:
salary = 12000
if salary > 100000:
    print('High Paying Job')
else:
    print('Low Paying Job')

Low Paying Job

In [56]:
bmi = 19
if bmi < 18.5:
    print('Underweight')
elif 18.5 <= bmi < 25:
    print('Normal')
elif 25 <= bmi < 30:
    print('Overweight')
else:
    print('Obese')

Normal

## for Loops

In [57]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for item in seq:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [58]:
seq = ['a', 'b', 'c', 'd']
for i, val in enumerate(seq):
    print(i, val)

0 a
1 b
2 c
3 d

In [77]:
x = [(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four')]
for a, b in x:
    print(b)

One
Two
Three
Four

## while Loops

In [59]:
i = 1
while i < 4:
    print(i)
    i += 1

1
2
3

## range()

In [60]:
range(10)

range(0, 10)

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

## List Comprehension

In [63]:
x = [1, 2, 3, 4, 5]

In [64]:
x_sq = []
for i in x:
    x_sq.append(i*i)
print('Length: ', len(x_sq))
print(x_sq)

Length:  5
[1, 4, 9, 16, 25]

In [65]:
[i*i for i in x]

[1, 4, 9, 16, 25]

## Functions

In [66]:
def add_one(value):
    return value + 1

In [67]:
add_one(10)

11

## Lambda Expressions

In [68]:
def square(x):
    return x*x

In [69]:
lambda x: x*x

## map() and filter()

In [70]:
seq = list(range(5))
seq

[0, 1, 2, 3, 4]

In [71]:
map(square, seq)

In [72]:
list(map(square, seq))

[0, 1, 4, 9, 16]

In [73]:
list(map(lambda x: x*x, seq))

[0, 1, 4, 9, 16]

In [74]:
filter(lambda x: x%2 == 0, seq)

In [75]:
list(filter(lambda x: x%2 == 0, seq))

[0, 2, 4]